@{
    <style>
        #carouselExampleControls {
            width: 100%;
            max-height: 400px; /* Altura máxima para o carrossel */
            margin: 0 auto; /* Centraliza horizontalmente */
            
        }

        #carouselExampleControls .carousel-inner .carousel-item img {
            width: 100%;
            max-height: 350px; /* Altura máxima para as imagens dentro do carrossel */
            border-radius: 21px;
        }

        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            background-image: url('https://img.freepik.com/free-vector/restaurant-mural-wallpaper_52683-47493.jpg?w=1380&t=st=1696104351~exp=1696104951~hmac=1d7d71f1979fb7896dc78c74348761c93c56c5e9373b2f3c927c3ab876281018');
            background-repeat: no-repeat;
            background-size: cover;
            / Redimensiona a imagem para cobrir a tela inteira / background-position: center;
            / Centraliza a imagem / background-repeat: no-repeat;
            / Evita a repetição da imagem */ height: 100vh;

        }
        .textbox {
            background-color: rgb(210, 210, 210, 0.8);
            padding: 50px;
            justify-content: center;
            align-content: center;
            width: 100%;
            max-height: 400px;
            border-radius: 21px;
            font-size: 15pt;
            color: black;
        }

    </style>
}


<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
</head>
<body>
    <div>
    
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="5000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2017/05/12/08/29/coffee-2306471_1280.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2016/12/11/20/01/coffee-1900194_1280.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://cdn.pixabay.com/photo/2019/07/13/11/44/coffee-4334647_1280.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br />
    <div class="textbox">
            <p> Bem-vindos à NathBucks, o refúgio da alta gastronomia em café e chocolate. Nossa cafeteria gourmet é um santuário para os apreciadores dessas iguarias. Aqui, você encontrará os grãos de café mais refinados, preparados com maestria por nossos baristas especializados, e chocolates gourmet que derretem na boca, revelando uma explosão de sabores. Em um ambiente acolhedor e sofisticado, convidamos você a desfrutar de momentos especiais e aventure-se em uma jornada gastronômica única na NathBucks. Cada visita é uma celebração do sabor e da qualidade, um convite para experiências deliciosas que não serão esquecidas.</p>
    </div>

    </div>
    <!-- Scripts no final da página -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


<!--
<div>
@Html.Partial("Carrossel")
</div>
-->
